body {
  margin: 20px;
}

h1 {
  text-align: center;
}

nav,
.signupsRow,
.signupInputs,
.sizeOption,
.dishesRow {
  display: flex;
  justify-content: space-between;
}

.cookTiles {
  display: flex;
  flex-wrap: wrap;
}

.cookTile {
  display: flex;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  min-width: 100px;
  min-height: 100px;
  justify-content: center;
  align-items: center;
}

.addCookPlus {
  font-size: 50px;
  margin: 0px;
}

.cookForm,
.signupForm {
  visibility: hidden;
}

.signupsTable,
.cookTiles,
.dishesLink {
  margin-bottom: 75px;
}


.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signupsTable {
  max-width: 600px;

}

.signup {
  margin-bottom: 40px;
}