:root {
  --gold: #A4800F;
  --lightgold: #D9AA16;
  --green: #6B802A;
  --darkgreen: #3B4A07;
}

body {
  background-image: url('./assets/bg.jpg');
  background-position: center;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

h1 {
  text-align: center;
  color: var(--green);
  font-size: 40px;
  margin-bottom: 20px;
  padding-top: 20px;
}

h2,
.addSignupPlus {
  font-size: 30px;
  font-weight: bold;
}

h3 {
  font-size: 25px;
  font-weight: bold;
}

.header {
  color: var(--gold);
}

.header,
.navHeader {
  margin: 20px;
}

.sectionHeader {
  background-color: var(--gold);
  padding: 5px;
  width: 100%;
  color: white;
  text-align: center;
  margin: 0px -10px 0px -10px;
}

.navLink {
  font-size: 25px;
  font-weight: 100;
  color: white;
  text-decoration: none;
  margin: 10px;
}

p {
  font-size: 18px;
}

.allDishes {
  display: flex;
  align-items: center;
  flex-direction: column;
}

button>p {
  font-size: 18px;
  font-weight: bold;
}

button>h2,
.loginForm>form>label {
  font-size: 25px;
  font-weight: bold;
  color: var(--gold);
}

.sizeButtons {
  font-size: 18px;
  font-weight: bold;
  background-color: transparent;
  color: var(--gold);
  border: solid 2px var(--lightgold);
  border-radius: 15px;
  padding: 10px 25px 10px 25px;
  margin: 5px;
}

.sizeButtons:active,
.sizeButtons:hover {
  background-color: var(--lightgold);
  color: white;
}

.logo {
  background-image: url('./assets/logo.png');
  width: 390px;
  height: 157px;
  margin: 30px;
}

.loginForm>form {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.loginForm {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -70px;
}

.loginButton {
  align-self: center;
}

input,
select {
  border: 2px solid var(--gold);
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  background-color: white;
}

.createMenuForm {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.createMenuForm input,
.createMenuForm select {
  color: var(--gold);
}

.loginForm input {
  color: var(--green);
}

:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--green);
}

.loginButton>button {
  background-color: var(--green);
  color: white;
  border: 2px solid var(--darkgreen);
  border-radius: 15px;
  padding: 10px 25px 10px 25px;

}

.submitButton {
  background-color: var(--green);
  color: white;
  border: 2px solid var(--darkgreen);
  border-radius: 15px;
  padding: 3px 9px 3px 9px;
}

/* .signupsRow, */
.signupInputs,
.sizeOption,
.dishesRow {
  display: flex;
  justify-content: space-between;
}

.signup {
  min-width: 400px;
  height: 250px;
  margin: 0px 40px 40px 40px;
}

.userSignup {
  min-width: 400px;
  height: 335px;
}



.addButtonAndPhoto,
.buttonAndPhoto {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  position: relative;
  z-index: 1;
  top: -80px;
  bottom: 0px;
}

.addButton,
.editButton,
.cancelButton {
  background-color: white;
  border-radius: 15px;
  color: var(--green);
  box-shadow: 4px 4px 10px rgb(177, 177, 177);
  align-self: end;
}

.addButton {
  width: 40px;
  height: 40px;
  padding: 10px;
}

.cantEditMessage,
.cantCancelMessage {
  position: relative;
  top: -65px;
  left: 20px;
}

.editButton,
.cancelButton {
  padding: 15px;
  font-weight: bold;
}



.addSignupPlus,
.editButtonText,
.cancelButtonText {
  text-align: center;
}

.openSignupInfo,
.yourSignupInfo,
.dishesRow,
.allDishes {
  width: 260px;
}

.yourSignups {
  height: 300px;
}

.openSignupInfo,
.yourSignupInfo,
.dishesRow,
.allDishes,
.cookTile {
  background-color: white;
  border-radius: 15px;
  line-height: 2.5em;
  padding: 15px 20px 15px 20px;
  color: var(--gold);
  margin: 15px;
  box-shadow: 4px 4px 10px rgb(177, 177, 177);
}

.dishPhoto {
  border: 3px solid var(--green);
  border-radius: 15px;
  width: 130px;
  height: 130px;
  box-shadow: 4px 4px 10px rgb(177, 177, 177);
}

.uploadPhotoForm {
  display: flex;
  flex-direction: column;
}

.uploadPhotoForm button {
  margin: 10px;
  padding: 5px 10px 5px 10px;
}

.uploadPhotoForm img {
  box-shadow: none;
}

.cookTiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cookTile {
  display: flex;
  padding: 15px;
  margin: 30px;
  width: 130px;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  text-align: center;

}

.cookTile p {
  font-size: 22px;
}

#addCookPlus,
#addPhotoPlus {
  font-size: 50px;
  margin: 0px;
}

#addCookPlus:hover,
#addPhotoPlus:hover {
  cursor: pointer;
}

.cookForm,
.signupForm {
  visibility: hidden;
  padding-top: 85px;
}

.signupsTable,
.cookTiles,
.dishesLink {
  margin-bottom: 75px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signupsTable {
  max-width: 600px;

}

.signupsRow {
  height: 50%;
}

.navAndHeader {
  display: flex;
}

.dishesRow {
  flex-direction: column;
}

.navHeader {
  color: white;
}

.navigation ul,
.navigationDesktop ul {
  display: flex;
  flex-wrap: wrap;
}

.navigation ul li {
  list-style-type: none;
  margin: 10px 0px 10px 0px;
}

.navigationDesktop ul li {
  list-style-type: none;
}

.navigation ul li h3,
.navigationDesktop ul li h3 {
  padding: 10px 20px 10px 20px;
}

.navigation ul li h3:hover,
.navigation ul li h3:active,
.navigationDesktop ul li h3:hover {
  background-color: var(--lightgold);

}

.hamburger {
  width: 2rem;
  height: 2rem;
  display: none;
  justify-content: space-around;
  flex-flow: column nowrap;
  z-index: 10;
}

.burger {
  width: 2rem;
  height: 0.25rem;
  border-radius: 10px;
  background-color: var(--lightgold);
  transform-origin: 1px;
  transition: all 0.3s linear;
}

.addDishForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.addDishForm input,
.createMenuForm select {
  margin-bottom: 10px;
}

.addDishForm input[type='submit'],
.createMenuForm input[type='submit'] {
  width: 150px;
  align-self: center;
}

input[type='submit'],
button[type='submit'],
.menuPaidButton,
.returnToPendingButton {
  background-color: var(--green);
  color: white;
  border: 2px solid var(--darkgreen);
  border-radius: 15px;
  font-weight: bold;
}

.returnToPendingButton {
  padding: 10px 0px 10px 0px;
}

.addCostForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.addCostForm input {
  width: 110px;
}

.amountAndPaidButton {
  display: flex;
  justify-content: space-between;
}

.menuPaidButton {
  width: 80px;
}

.dishRowLine {
  visibility: hidden;
}

@media (max-width: 1258px) {
  .hamburger {
    display: flex;
    padding-top: 10px;
    margin-left: 10px;
    z-index: 10;

  }

  .navigationDesktop {
    display: none;
  }

}

@media (min-width: 1258px) {
  .navigationDesktop {
    background-color: var(--gold);
    width: 100%;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    height: 53.5px;
    align-items: center;
  }

  .navAndHeader {
    flex-direction: column;
  }

  .header {
    text-align: center;
    display: none;
  }

  .signupsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
  }

  .sectionHeader {
    width: 80%;
    margin: 0px;
    padding: 0px 20px 0px 20px;
    border-radius: 15px 15px 0px 0px;
    box-shadow: 4px 0px 4px rgb(177, 177, 177);
  }

  .createMenuForm,
  .addDishForm {
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 5px 20px;
    justify-content: space-around;
    margin-top: 0px;
    margin-bottom: 30px;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 4px 4px 10px rgb(177, 177, 177);
    width: 80%
  }

  .createMenuForm select,
  .createMenuForm input,
  .addDishForm select,
  .addDishForm input {
    margin: 15px;
  }

  .dishesRow {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(50px, auto);
    width: 100%;
    padding: 10px 0px;
    margin: 0px;
    background-color: transparent;
    box-shadow: none;
    text-align: center;
    align-items: center;
  }

  #cookDishesRow {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(50px, auto);
  }

  #paymentHistoryRow {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(50px, auto);
  }

  .allDishes {
    background-color: transparent;
    box-shadow: none;
  }

  .dishRowLine {
    visibility: visible;
  }

  input {
    margin-bottom: 0px;
  }

  .dishContainer,
  .allDishesContainer {
    width: 80%;
    background-color: white;
    padding: 15px 20px 0px 20px;
    margin-bottom: 30px;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 4px 4px 10px rgb(177, 177, 177);
  }

  .allDishesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}